<!DOCTYPE html>

<html>
  <head>
    <title>File Metadata</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>API Project: File Metadata Microservice</h1>

      <h2>Usage:</h2>
      <p>Please Upload a File ...</p>
      <div class="view">
        <h3 id="output"></h3>
        <form
          enctype="multipart/form-data"
          method="POST"
          action="/api/fileanalyse"
        >
          <input id="inputfield" type="file" name="upfile" />
          <input id="button" type="submit" value="Upload" />
        </form>
      </div>
    </div>
    <footer >
      <hr>
      <p>
        Made with love by Abdelkarim Aoulallay <br />
        <ul>
          <li><a href="https://github.com/karimAoulallay">Github</a></li>
          <li><a href="https://www.linkedin.com/in/abdelkarim-aoulallay/">Linkedin</a></li>
          <li><a href="https://twitter.com/karim_aoulallay">X (Twitter)</a></li>
        </ul>
      </p>
    </footer>
  </body>
</html>
